.app{
  /* width: 90%;
  margin: 0 auto;
  align-content: center; */
}
.content{
  width: 85%;
  margin: 0 auto;
}
.App-header{
  /* margin: 0 auto; */
  position: fixed;
  width: 5vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #22262f;
}
.task-room{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.task{
  width: 350px;
  height: 350px;
  margin: 1rem;
  background-color: #2a2e35;
  border-radius: 1rem;
}
.task-header{
  font-size: clamp(1rem, 3vh, 4rem);
  text-align: center;
  border-bottom: 1px solid #393f4d;
  padding: 1rem;
  margin: 0;
}

.task-text{
  margin: 0;
  height: 40%;
  font-size: clamp(1rem, 1vh, 2rem);
  text-align: left;
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  color: #22262f;
}
.task-button{
    font-size: clamp(1rem, 1rem, 4rem);
    text-align: center;
    border-bottom: 1px solid #393f4d;
    padding: 1rem;
    background-color: transparent;
    border: 2px solid #2f6b2f;
    border-radius: 1rem;
    color: #2f6b2f;
}
.task-button:hover{
  background-color: #2f6b2f44;
  cursor: pointer;
}